* { 
	padding: 0;
	margin: 0;
	text-align: center;
}
canvas { 
	background: #eee;
	display: block;
	margin: 0 auto;
}
body {
	font-family: "Arial", sans-serif;
}
.sliders {
	display: flex;
	justify-content: center;
}
.space {
	padding:5px;
}